{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
    <div class="mb-3">
        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app.logout') }}">Logout</a>
    </div>
    {% endif %}

    <div class="relative flex flex-col items-center h-screen overflow-hidden text-black">
        <div class="w-full p-6 bg-white border-t-4 border-gray-600 rounded-md shadow-md border-top lg:max-w-lg">
            <h1 class="text-3xl font-semibold text-center text-gray-700">Please sign in</h1>

            <label for="username" class="text-gray-500 mb-2 block font-semibold">Email</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username"
                class="w-full input input-bordered mb-3" autocomplete="email" required autofocus>

            <label for="password" class="text-gray-500 mb-2 block font-semibold">Password</label>
            <input type="password" name="_password" id="password" class="w-full input input-bordered mb-3"
                autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" data-controller="csrf-protection"
                value="{{ csrf_token('authenticate') }}">
            <button class="btn btn-lg btn-primary" type="submit">
                Sign in
            </button>
            <div class="mt-6">
                <a href="{{path('app.forgot_password')}}" class="text-black">Forgot password</a>
            </div>
        </div>
    </div>

    {#
    Uncomment this section and add a remember_me option below your firewall to activate remember me
    functionality.
    See https://symfony.com/doc/current/security/remember_me.html

    <div class="checkbox mb-3">
        <input type="checkbox" name="_remember_me" id="_remember_me">
        <label for="_remember_me">Remember me</label>
    </div>
    #}

</form>
{% endblock %}