{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}


<div class="relative flex flex-col items-center justify-center overflow-hidden text-black h-[calc(100vh-140px)]">
    <div class="bg-[#d9d9d933] rounded-xl w-[520px] max-w-full p-10 text-center shadow-lg shadow-[#00D3BB]">
        <h1 class="text-4xl font-bold text-white mb-5">
            Registration
        </h1>
        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
        <div class="text-left">

            {{ form_row(registrationForm.email) }}
        </div>
        <div class="text-left">

            {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
            }) }}
        </div>

        <button type="submit" class="btn btn-lg btn-accent my-4">Register</button>
        {{ form_end(registrationForm) }}
        <div class="text-accent text-lg font-bold hover:text-[#5100D3] transition duration-100 mt-2">
            <a href="{{path('app.login')}}" class="">Already registered ? Login and browse now !</a>
        </div>
    </div>
</div>
{% endblock %}