{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}


<div class="relative flex flex-col items-center justify-center overflow-hidden text-black h-[calc(100vh-140px)]">
    <div class="w-full p-6 bg-white border-t-4 border-gray-600 rounded-md shadow-md border-top lg:max-w-lg">
        <h1 class="text-3xl font-semibold text-center text-gray-700">
            Registration
        </h1>
        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
        }) }}

        <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}