{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<table class="table border border-gray-300 text-black w-[75vw]">
  <tbody>
    <tr class="odd:bg-gray-100 even:bg-white">
      <th class="p-3 text-left font-medium text-gray-600">Id</th>
      <td class="p-3">{{ article.id }}</td>
    </tr>
    <tr class="odd:bg-gray-100 even:bg-white">
      <th class="p-3 text-left font-medium text-gray-600">Title</th>
      <td class="p-3">{{ article.title }}</td>
    </tr>
    <tr class="odd:bg-gray-100 even:bg-white">
      <th class="p-3 text-left font-medium text-gray-600">Content</th>
      <td class="p-3">{{ article.content }}</td>
    </tr>
    <tr class="odd:bg-gray-100 even:bg-white">
      <th class="p-3 text-left font-medium text-gray-600">Image</th>
      <td class="p-3">{{ article.image }}</td>
    </tr>
    <tr class="odd:bg-gray-100 even:bg-white">
      <th class="p-3 text-left font-medium text-gray-600">CreatedAt</th>
      <td class="p-3">{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
    </tr>
    <tr class="odd:bg-gray-100 even:bg-white">
      <th class="p-3 text-left font-medium text-gray-600">UpdatedAt</th>
      <td class="p-3">{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
    </tr>
  </tbody>
</table>


<div class="flex flex-col gap-3 items-start mt-6">
    <a href="{{ path('app_admin_articles_index') }}" class="btn btn-sm w-40 btn-soft btn-primary">Back to list</a>

    <a href="{{ path('app_admin_articles_edit', {'id': article.id}) }}"
        class="btn btn-sm w-40 btn-soft btn-warning">Edit</a>

    <div class="w-40">
        {{ include('admin_articles/_delete_form.html.twig') }}
    </div>
</div>

{% endblock %}