{% extends 'base.html.twig' %}

{% block title %}All Articles{% endblock %}

{% block body %}
<style>
  .join{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    padding: 1em;
  }
</style>
<div>

  <h1 class="text-3xl font-bold underline text-color">
    All Articles
  </h1>
</div>



<div class="flex justify-center align-items-center flex-wrap w-full lg:h-full my-2 gap-3 text-black">
  {% for article in articles %}
  <a href="{{path("app.articles.show", {id:article.id})}}"
    class="card bg-base-100 w-96 shadow-sm mx-3 my-2 justify-center">
    <figure class="w-full h-60 ">
      {% if article.image %}
      <img src="/uploads/{{article.image}}" alt="Shoes" class="object-cover" />
      {% else %}
      <img src="/uploads/default.png" alt="Shoes" class="object-cover" />
      {% endif %}

    </figure>
    <div class="card-body">
      <h2 class="card-title">
        {{article.title}}
      </h2>
      <p>{{article.content | split(".") | first}}.</p>
    </div>
  </a>
  {% endfor %}
</div>
<div class="join">
  {{ knp_pagination_render(articles, "/partials/sliding.html.twig") }}
</div>
{% endblock %}